@import "variables";
header {
  background: url("../img/headback.png") no-repeat center;
  background-size: 100% 100%;
  color: white ;
}
a {
  color: white;
  text-decoration: none;
}
.main-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  .user-navigation{
    font-family: Myriad Pro, Arial, sans-serif;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }

  .user-navigation li {
    margin-left: 30px;
  }
  .user-navigation li:hover {
    color: #fce38a;
    text-decoration: underline;
  }
  .user-navigation__item_search {
    position: relative;
  }

form {
  position: absolute;
  top: calc(100% + 15px) ;
  right: 0;
  display: none;
}

li:hover form {
  display: block;
}
.main-navigation__logo {
  font-family: Myriad Pro, Arial, sans-serif;
}
.main-navigation__logo:hover a {
 color: #fce38a;
  text-decoration: underline;
}

.main-heading {
  font-family: Kaushan Script, Arial , sans-serif ;
text-align: center;
  font-size: 72px;
  font-style: italic;
}
.main-heading__span {
  font-family: 'Montserrat' , Arial, sans-serif ;
  font-size: 150px;
  font-style: normal;
  font-weight: bold;
}

.main-heading__button {
  text-align: center;
  background-color: transparent;
  font-family: 'Montserrat' , Arial, sans-serif ;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  margin-left: 45%;
  margin-right: 0;
  margin-bottom: 230px;
}
/* main */
.story__heading{
  font-family: Kaushan Script, Arial, sans-serif ;
  font-size: 24px;
  text-align: center;
  margin-top: 90px;
}
.story__heading_help {
  font-family: 'Montserrat', Arial, sans-serif;
  margin-bottom: 90px;
  font-size: 30px;
}
.story__text {
  font-family: 'Roboto' , Arial , sans-serif;
  font-size: 15px;
  text-align: center;
  color: #999999;
  margin-bottom: 75px;
}
.story__photo {
  position: relative;
  display: flex;
}
.story__photo_text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  color: white;
  top: 50%;
left: 11%;
  font-weight: bold;
}
img {
  margin: 15px;
  margin-bottom: 110px;
}
.story__pohto_shadow {
  position: relative;
  top: -6px;
  box-shadow: 6px 6px #95e1d3 ;
}
.fa-users {
  position: relative;
  left: 40%;
  margin-bottom: 10px;
}
.story {
  &__achievements {
    background-color: #95e1d3;
    display: flex;
    justify-content: center;
    align-items: center;
    &_text {
      font-family: 'Montserrat', Arial, sans-serif;
      color: white;
      text-align: center;
      font-size: 72px;
      font-weight: bold;
      border-left: 1px solid white;
      border-right: 1px solid white;
      margin: 0;
      padding: 85px 65px;
      height: 100%;
    }
    &_help{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}
