@import "variables";
header {
  background: url("../img/headback.png") no-repeat center;
  background-size: 100% 100%;
  color: white ;
}
a {
  color: white;
  text-decoration: none;
}
.main-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  .user-navigation{
    font-family: Myriad Pro, Arial, sans-serif;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }

  .user-navigation li {
    margin-left: 30px;
  }
  .user-navigation a:hover {
    color: #fce38a;
    text-decoration: underline;
  }
  .user-navigation__item-search {
    position: relative;
  }

form {
  position: absolute;
  top: calc(100% + 15px) ;
  right: 0;
  display: none;
}

li:hover form {
  display: block;
}
.logo {
  font-family: Myriad Pro, Arial, sans-serif;
}
.logo:hover a {
 color: #fce38a;
  text-decoration: underline;
}

.main-heading {
  font-family: Kaushan Script, Arial , sans-serif ;
text-align: center;
  font-size: 72px;
  font-style: italic;
}
.main-heading__span {
  font-family: 'Montserrat' , Arial, sans-serif ;
  font-size: 150px;
  font-style: normal;
  font-weight: bold;
}

.main-heading__button {
  text-align: center;
  background-color: transparent;
  font-family: 'Montserrat' , Arial, sans-serif ;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  margin-left: 45%;
  margin-right: 0;
  margin-bottom: 230px;
}
/* main */
.story__heading{
  font-family: Kaushan Script, Arial, sans-serif ;
  font-size: 24px;
  text-align: center;
  margin-top: 90px;
  position: relative;
}
.story__heading_help {
  font-family: 'Montserrat', Arial, sans-serif;
  margin-bottom: 90px;
  font-size: 30px;
}
.story__text {
  font-family: 'Roboto' , Arial , sans-serif;
  font-size: 15px;
  text-align: center;
  color: #999999;
  margin-bottom: 75px;
  margin-top: 90px;
}
.story__photo {
  position: relative;
  display: flex;
  justify-content: center;
}
.story__photo_text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  color: white;
  top: 50%;
  left: 140px;
  font-weight: bold;
}
img {
  margin: 15px;
  margin-bottom: 110px;
}
.story__pohto_shadow {
  position: relative;
  top: -6px;
  box-shadow: 6px 6px #95e1d3 ;
}
.fa-users {
  position: relative;
  left: 40%;
  margin-bottom: 10px;
}
.achievements {
    background-color: #95e1d3;
    display: flex;
    justify-content: center;
  margin-bottom: 110px;
    &_text {
      font-family: 'Montserrat', Arial, sans-serif;
      color: white;
      text-align: center;
      font-size: 72px;
      font-weight: bold;
      border-left: 1px solid white;
      border: 1px solid white;
      margin: 0;
      padding: 2% 3%;
    }
    &_help{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

.main-heading__button:hover{
  color: black;
  background-color: white;
}
/*red ine*/
.story__heading_help:after{
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: #f38181;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.opportunities__heading {
  font-family: Kaushan Script, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  position: relative;
  &_help{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.opportunities__heading_help:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: red;
  position: relative;
  margin-bottom: 60px;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.opportunities-list__icon {
  font-family: Myriad Pro, Arial, sans-serif;
  font-size: 35px;
  color: #95e1d3;
  margin-right: 25px;
}
h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;

}
.opportunities-list__text_help {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  color: #999999;
  margin-bottom: 90px;
}

.opportunities-list__container {
  display: flex;
  max-width: 340px;
}
.opportunities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.device__heading {
  font-family: Kaushan Script, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  position: relative;
  margin-top: 260px;

  &_help {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.device__heading_help:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: red;
  position: relative;
  margin-bottom: 60px;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.device {
  position: absolute;
  background: url("../img/main/background-device.png") no-repeat;
  width: 100%;
  background-size: 100% 100%;
  &__photo {
    margin: 0;
  }
}
.device__photo_big-device {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.device__photo_help{
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -8%;
  left: 59%;
}
